* {
    max-width: 700px;
    margin: auto;
    
}



div {
    border-radius: 5px;
}
h1, .address {
  text-align: center;
}

.head {
  font-size: 20px;

}

.lead {
  text-align: center;
}

/* .columns {
  grid-template-columns: 60px 60px;
} */
/* h1, h3 {
  text-decoration: white;
} */
h1, h3, h4, p, li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
#header {
    height: 40px;
    width: 100%;
    background-color: #ede7b1;
    position: fixed;
    z-index: 1;
}

.left {
  height: 995px;
  width: 40px;
  background-color: #b8f2e6;
  float: left;
  position:fixed;
}

.right {
  height: 1500px;
  width: 40px;
  background-color: #b8f2e6;
  float: right;
  position:inherit;
}

.bullets {
  display: inline-block;
  margin-top: 6px;
  margin-left: 50px;
  width:85%;
  height: 1400px;
  background-color: #edede9;
  

}

#badges {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 
 

}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: #ede7b1;
  /* clear: both; */
  position: relative;
}

#name {
  font-family: 'Sacramento', cursive;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}
@media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .bullets {
      width: 100%;
      margin-left: 10px;
    }
  }