* {
    max-width: 700px;
    margin: auto;
}

div {
    border-radius: 5px;
}
h1, .address {
  text-align: center;
}
h1, h3, h4, p, li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
#header {
    height: 40px;
    width: 100%;
    background-color: #ffcccc;
    position: fixed;
    z-index: 1;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  /* clear: both; */
  position: relative;
}

#name {
  font-family: 'Sacramento', cursive;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}
@media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .bullets {
      width: 100%;
      margin-left: 10px;
    }
  }